.navbar{
position: fixed;
z-index: 1;
top: 0;
width: 100%;
height: 30px; ;
padding: 20px; 
display: flex;
justify-content: space-between;
background-color: black;
 
}
.logo{
    position: fixed;
    width: 80px;
    left: 20px;

}
.avatar{
    position: fixed;
    width: 30px;
    right: 20px;
}